.lead__title {
  width: 720px;
  min-height: 200px;
  margin: 0 auto;
  text-align: center;
  font-size: 9.6rem;
  line-height: 10rem;
  font-weight: 900;
  font-family: 'Inter-Black', Arial, sans-serif;
  transition: all .8s ease;
}

@media screen and (max-width: 766px) {
  .lead__title {
    width: 288px;
    min-height: 88px;
    font-size: 4rem;
    line-height: 4.4rem;
  }
}