.lead__caption {
  font-size: 1rem;
  line-height: 1.4rem;
  letter-spacing: 1.5px;
  margin: 8px 0 0;
  padding: 0;
  text-transform: uppercase;
  transition: all .8s ease;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    padding: 0 0 0 24px;
  }
  @media screen and (max-width: 766px) {
    .lead__caption {
      padding: 0 0 0 16px;
    }
  }
}
