.cover__title {
  max-width: 560px;
  text-align: center;
  margin: 245px 0 0;
  font-family: 'Inter-Black', Arial, sans-serif;
  font-size: 7.2rem;
  line-height: 7.6rem;
  font-weight: 900;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .cover__title {
    margin: 195px 0 0;
  }
  @media screen and (max-width: 1023px) {
    .cover__title {
      margin: 115px 0 0;
    }
  }
  @media screen and (max-width: 766px) {
    .cover__title {
      max-width: 288px;
      margin: 33px 0 0;
      font-size: 3.2rem;
      line-height: 3.5rem;
      padding: 0 17px;
    }
  }
}